@model LoginCol.Huellitas.Web.Models.Admin.ListarUsuariosExternosModel
@{
    ViewBag.Title = "UsuariosExternos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row" id="divUsuariosExternos">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i>Varibales de Parametrización</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div>
                    <button id="BtnCrearUsuario" type="button">Crear</button>
                    <div class="crearUsuario">
                        <div>
                            Nombres:<input id="Nombres" type="text" /> <span id="NombresError" class="error"></span><br />
                            Apellidos:<input id="Apellidos" type="text" /> <span id="ApellidosError" class="error"></span><br />
                            Email:<input id="Correo" type="text" />  <span id="CorreoError" class="error"></span><br />

                            <button id="BtnGuardar" type="button">Guardar</button>
                        </div>
                    </div>


                </div>
                <table id="tableListado" class="table table-striped table-bordered bootstrap-datatable responsive">
                    <thead>
                        <tr>
                            <th>Id Usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Fecha de Registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.Usuarios)
                        {
                            <tr>
                                <td  class="center">@usuario.UsuarioId</td>
                                <td  class="center">@usuario.Nombres</td>
                                <td  class="center">@usuario.Apellidos</td>
                                <td  class="center">@usuario.Correo</td>
                                <td  class="center">@usuario.FechaRegistro</td>                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/span-->
</div>


@section scripts{
    
    <script src="~/Scripts/views/huellitas.admin.UsuarioExternoView.js"></script>    
    
}