@model LoginCol.Huellitas.Web.Models.Admin.AdopcionModel
@{
    ViewBag.Title = "AdopcionesDetalle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="formAdopcion">
    <div class="box col-md-12">
        <div class="box-inner">
            <div data-original-title="" class="box-header well">
                <h2><i class="glyphicon glyphicon-edit"></i> Adopción Exitosa</h2>
                <div class="box-icon">
                    <a class="btn btn-minimize btn-round btn-default" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form role="form">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FormularioId)
                        @Html.DisplayFor(model => model.FormularioId)
                        @Html.HiddenFor(model => model.FormularioId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AdoptanteNombreCompleto)
                        @Html.DisplayFor(model => model.AdoptanteNombreCompleto)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaAdopcion)

                        @if (Model.AdopcionId > 0)
                        {
                            @Html.DisplayFor(model => model.FechaAdopcion, "{0:dd/MM/yyyy}")
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.FechaAdopcion, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                        }


                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContenidoId)
                        @if (Model.AdopcionId > 0)
                        {
                            @Html.DisplayFor(model => model.ContenidoNombre)
                        }
                        else
                        {
                            <div>
                                @Html.DropDownListFor(model => model.ContenidoId, new SelectList(Model.Contenidos, "ContenidoId", "Nombre"), new { @class = "form-control" })
                            </div>
                        }

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Observaciones)
                        @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control" })
                    </div>

                    <input class="btn btn-default" type="submit" value="Guardar" />
                    <button class="btn" type="button" id="btnCancelar">Cancelar</button>

                    @Html.ValidationSummary()
                </form>
            </div>

        </div>
       
    </div>
    @if (Model.AdopcionId > 0)
    {
        @Html.Partial("_SeguimientoAdopcion")
    }
</div>


<script>
    alert("TOca hacer: 1. Crear tarea programada que envie correos electrónicos de seguimiento, con el link 2. Probar todo el flujo 4. probar un poco mas http://localhost:37624/seguimiento/1?key=75800f73fa80f935216b8cfbedf77bfa")
</script>
<script src="~/Scripts/models/huellitas.admin.SeguimientoAdopcion.js"></script>
<script src="~/Scripts/views/huellitas.admin.AdopcionEditarView.js"></script>
<script src="~/Scripts/libs/jquery-ui.min.js"></script>