<div id="divImagenesContenido" class="modal fade" role="dialog">

    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Agregar Imagenes</h3>
            </div>
            <div class="modal-body">
                <p>

                    <div class="box-inner">
                        <div data-original-title="" class="box-header well">
                            <h2><i class="glyphicon glyphicon-picture"></i> Imagenes Relacionadas</h2>
                            <div class="box-icon">
                                <a class="btn btn-minimize btn-round btn-default" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="divImagenesFormulario" style="display:none">
                                <div class="form-group">
                                    @Html.Label("Nombre-Imagen", "Imagen")
                                    @Html.TextBox("Nombre-Imagen")
                                </div>
                                <div class="form-group">
                                    @Html.Label("Descripcion-Imagen", "Descripción")
                                    @Html.TextBox("Descripcion-Imagen")
                                </div>
                                <div>
                                    @Html.Label("Archivo-Imagen", "Imagen")
                                    <input id="archivoImagenAdicional" name="archivoImagenAdicional" type="file" />
                                </div>
                                <div>
                                    <div class="btn btn-success" id="BtnGuardarImagenContenido">Guardar</div>
                                    <div class="btn btn-success" id="BtnCancelarImagenContenido">Cancelar</div>
                                </div>
                            </div>
                            <div class="btn btn-success" id="BtnMostrarAgregarImagenContenido">Agregar Imagen a la antigua</div>
                            <br>
                            <ul class="thumbnails gallery" id="ulImagenes"></ul>
                        </div>
                        <!--<form action="/admin/RelacionarImagen" method="post" enctype="multipart/form-data" >-->
                        <div class="jumbotron">
                            <div class="dropzone" id="dropzoneForm">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                    <input type="submit" value="Upload" />
                                </div>
                            </div>
                        </div>
                        <!--</form>-->
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="templateImagenesContenido">

</script>

<script type="text/template" id="templateFilaImagenContenido">
    <li class="thumbnail" id="image-<%= ContenidoRelacionadoId %>">
        <a href="/img/<%= ContenidoHijo.ContenidoId %>/big" title="<%= ContenidoHijo.Nombre %>" style="background:url(/img/<%= ContenidoHijo.ContenidoId %>/mini)" class="cboxElement">
            <img alt="Adopta una mascota:<%= ContenidoHijo.Nombre %>" title="<%= ContenidoHijo.Nombre %>" src="/img/<%= ContenidoHijo.ContenidoId %>/mini" class="grayscale" style="display: block; width: 100px; height: 100px">
        </a>
    </li>
</script>
<style>
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>

<script src="~/Scripts/models/huellitas.admin.Imagen.js"></script>
<script src="~/Scripts/views/huellitas.admin.GaleriaContenidoView.js"></script>
