@{
    ViewBag.TagDescripcion = LoginCol.Huellitas.Negocio.ParametrizacionNegocio.DescripcionHome;
}
<div id="divMainContentBackbone">
    <section class="slide slide_home" id="first" data-slide="1" data-stellar-background-ratio="0.5">
        <div id="cbp-fwslider" class="cbp-fwslider clearfix">
            <ul>
                <li>
                    @Html.Action("Destacados", "Huellitas")
                </li>
                <li>
                    <div class="container clearfix">
                        <div class="grid_6 no-margin">
                            <div style="background-image:url(images/galeria/img_03.jpg);" class="cajaCaso">
                                <article class="c_tipo3">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                        <div class="grid_6 no-margin">
                            <div style="background-image:url(images/galeria/img_04.jpg);" class="cajaCaso">
                                <article class="c_tipo4">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="slide" id="slide2" data-slide="1" data-stellar-background-ratio="0.5">
        <div class="container clearfix conteBien">
            <h2>¡BIENVENIDOS!</h2>
            <h3>ELLOS NECESITAN TU AMOR Y APOYO</h3>
            <div class="grid_4 cajax3">
                <div class="caja_icon"><span class="icon-cayuda"></span></div>
                <div class="parrafo">
                    <h3>COMO AYUDAR</h3>
                    <p>
                        Cada dia se ven miles de animales abandonados en la calle que no tienen quién se responsabilice por ellos. Maneras de ayudar hay muchas, entre ellas: Puedes ser voluntario, 
                        ser hogar temporar o apadrinar uno de estos animalitos en algún albergue. 
                    </p>
                </div>
                <a class="btn" href="javascript:;">CONOCE MÁS</a>
            </div>
            <div class="grid_4 cajax3">
                <div class="caja_icon"><span class="icon-mperdida"></span></div>
                <div class="parrafo">
                    <h3>APADRINAR</h3>
                    <p>Es simplemente ofrecer un aporte voluntario el cual ayudará a sustentar el animal que escojas, ya sea de la calle o de alguna fundación existente. Muchas fundaciones sobreviven con muy poco, 
                    ellas lo necesitan. Escoge el tuyo y apadrinalo. </p>
                </div>
                <a class="btn" href="/sinhogar" title="Ver animales para apadrinar">CONOCE MÁS</a>
            </div>
            <div class="grid_4 cajax3 omega">
                <div class="caja_icon"><span class="icon-huella"></span></div>
                <div class="parrafo">
                    <h3>ADOPTAR</h3>
                    <p>No compres, ADOPTA. Para iniciar un proceso de adopción con nosotros únicamente tienes que escoger la mascota
                    que más te guste y llenar el formulario, muy pronto nos estaremos comunicando contigo. Escoge tu nuevo mejor amigo. </p>
                </div>
                <a class="btn" href="/sinhogar" title="Ver animales para adoptar">CONOCE MÁS</a>
            </div>
        </div>
    </section>
    @Html.Action("Fundaciones")
    <section class="slide" id="contacto">
        <div class="container clearfix conteConta">
            <div class="bannerDona grid_5">
                <div class="tit">APADRINA</div>
                <div class="parraDona">Ayuda económicamente a que un perro o gato. Esto será ultizado para su comida y mantenimiento.</div>
                <a class="btn" href="huellitas">VER MASCOTAS</a>
            </div>
            @Html.Partial("_Contacto")
        </div>
    </section>
    <section class="conte_nosotros slide" data-slide="2" data-stellar-background-ratio="0.5">
        <div class="container clearfix">
            <h2>QUIENES SOMOS</h2>
            <h3 class="color3_text">ELLOS NECESITAN TU AMOR Y APOYO</h3>
            <p class="color1_text">Huellitas sin hogar es el esfuerzo de un grupo de amigos por ayudar a los miles de animales que se encuentran desprotegidos y en las calles colombianas. 
            Uno de los principales objetivos es por medio de la pagina promover la adopción y apadrinamiento de mascotas en las fundaciones que se dedican al cuidado de estos animales. 
            </p>
            <p class="color1_text">No contamos con sede física ya que solo somos un medio de conexión entre las personas que buscan una mascota y los hogares de paso. Además de esto no
            recibimos , ni pedimos ningún tipo de ayuda económica, ya que es ayudar a los animales lo que nos mueve.</p>
            <p class="color1_text">
                Está es la primera versión de la pagina y esperamos poder seguir evolucionando para mejorar en algo esta problematica tan grande de nuestro pais. 
            </p>
            <p class="color1_text">
                Por último, el equipo de huellitas sin hogar el cual ha donado su tiempo y conocimiento para la realización de este proyecto es el siguiente:
            </p>
            @*<div class="conte_vision grid_6">
                <span class="icon-alert"></span>
                <div class="caja_vision">
                    <h4>MISIÓN</h4>
                    <p class="color1_text">Somos una Institución de Educación Superior de propiedad social, formamos personas competentes para responder a las dinámicas del mundo, contribuimos a la construcción y difusión del conocimiento, apoyamos el desarrollo competitivo del país a través de sus organizaciones y buscamos el mejoramiento de la calidad de vida de las comunidades, influidos por la economía solidaria que nos dio origen.</p>
                </div>
            </div>
            <div class="conte_vision grid_6 omega">
                <span class="icon-alert"></span>
                <div class="caja_vision">
                    <h4>VISIÓN</h4>
                    <p class="color1_text">Somos una Institución de Educación Superior de propiedad social, formamos personas competentes para responder a las dinámicas del mundo, contribuimos a la construcción y difusión del conocimiento, apoyamos el desarrollo competitivo del país a través de sus organizaciones y buscamos el mejoramiento de la calidad de vida de las comunidades, influidos por la economía solidaria que nos dio origen.</p>
                </div>
            </div>*@
            <br/>
            <h3 class="color3_text">NUESTRO EQUIPO</h3>
            <div class="integrantes grid_12">
                <div class="caja_integra grid_6">
                    <div class="img" style="background-image:url(/images/img_beto.jpg);">
                        <a href="https://twitter.com/btoasaber" target="_blank">
                            <img style="visibility: hidden;" src="/images/img_beto.jpg" title="Gabriel Castillo - Ingeniero Programador" alt="Gabriel Castillo - Ingeniero Programador" />
                        </a>
                    </div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - INGENIERO PROGRAMADOR</h3>
                        <p>Unicamente quiero ayudar a los animales</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img" style="background-image:url(/images/img_julian.jpg);">
                            <img style="visibility: hidden;" src="/images/img_julian.jpg" title="Julian Castillo - Diseñador" alt="Julian Castillo - Diseñador" />
                    </div>
                    <div class="descri_integra">
                        <h3>JULIAN CASTILLO - DISEÑADOR WEB</h3>
                        <p>Solo busco aportar para que se vea con otra cara la desprotección animal</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6">
                    <div class="img" style="background-image:url(/images/img_erica.jpg);">
                        <a href="https://twitter.com/btoasaber" target="_blank">
                            <img style="visibility: hidden;" src="/images/img_beto.jpg" title="Erica Prado - Ingeniero Programador" alt="Erica Prado - Ingeniero Programador" />
                        </a>
                    </div>
                    <div class="descri_integra">
                        <h3>ERICA PRADO - INGENIERA PROGRAMADORA</h3>
                        <p>....</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img" style="background-image:url(/images/img_marce.jpg);">
                            <img style="visibility: hidden;" src="/images/img_marce.jpg" title="Marcela Rodriguez - Diseñadora" alt="Marcela Rodriguez - Diseñadora" />
                    </div>
                    <div class="descri_integra">
                        <h3>MARCELA - DISEÑADORA WEB</h3>
                        <p>Todos podemos ayudar a cambiar la vida de un animalito. Si no puedes adoptar, apadrina, ayuda o comparte.</p>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/backbonevalidation")
    @Scripts.Render("~/bundles/backbone_home")
}
