@{
    ViewBag.TagDescripcion = LoginCol.Huellitas.Negocio.ParametrizacionNegocio.DescripcionHome;
}
<div id="divMainContentBackbone">
    <section class="slide slide_home" id="first" data-slide="1" data-stellar-background-ratio="0.5">
        <div id="cbp-fwslider" class="cbp-fwslider clearfix">
            <ul>
                <li>
                    <div class="banner_wanda">
                        <div class="texto">
                            <h2>WANDA BUSCA UN HOGAR</h2>
                            <h3>PARA TODA LA VIDA</h3>
                            <a class="btn" href="/sinhogar/13317/Wanda" title="Ver perfil de wanda">CONOCE MÁS</a>
                        </div>
                    </div>
                </li>
                <li style="padding:50px 0;">
                    @Html.Action("Destacados", "Huellitas")
                </li>
            </ul>
        </div>
    </section>
    <section class="slide" id="slide2" data-slide="1" data-stellar-background-ratio="0.5">
        <div class="container clearfix conteBien">
            <h2>¡BIENVENIDOS!</h2>
            <h3>ELLOS NECESITAN TU AMOR Y APOYO</h3>
            <div class="grid_4 cajax3">
                <div class="caja_icon"><span class="icon-cayuda"></span></div>
                <div class="parrafo">
                    <h3>COMO AYUDAR</h3>
                    <p>
                        Cada dia se ven miles de animales abandonados en la calle que no tienen quién se responsabilice por ellos. Maneras de ayudar hay muchas, entre ellas: Puedes ser voluntario, 
                        ser hogar temporar o apadrinar uno de estos animalitos en algún albergue. 
                    </p>
                </div>
                <a class="btn" href="/por-que-adoptar">CONOCE MÁS</a>
            </div>
            <div class="grid_4 cajax3">
                <div class="caja_icon"><span class="icon-mperdida"></span></div>
                <div class="parrafo">
                    <h3>APADRINAR</h3>
                    <p>Si no puedes adoptar y deseas ayudar a un animal lo puedes apadrinar. Consiste en ofrecer un
aporte voluntario mensual para su sustento hasta el día en que sea adoptado. Con esto, el animal
que escojas, ya sea de la calle o de alguna fundación existente tendrá una buena calidad de vida
mientras encuentra un verdadero hogar.</p>
                </div>
                <a class="btn" href="/sinhogar" title="Ver animales para apadrinar">CONOCE MÁS</a>
            </div>
            <div class="grid_4 cajax3 omega">
                <div class="caja_icon"><span class="icon-huella"></span></div>
                <div class="parrafo">
                    <h3>ADOPTAR</h3>
                    <p>No compres, ADOPTA. Adoptando salvas la vida de dos animales, la de tu nuevo amigo
y la del que ocupará su lugar, tan solo escoge la mascota de la cual quieres recibir todo
su amor y compañia, diligencia el formulario y en poco tiempo nos comunicaremos contigo.</p>
                </div>
                <a class="btn" href="/por-que-adoptar" title="Ver animales para adoptar">CONOCE MÁS</a>
            </div>
        </div>
    </section>
    @Html.Action("Fundaciones")
    <section class="slide" id="contacto">
        <div class="container clearfix conteConta">
            <div class="bannerDona grid_5">
                <div class="tit">APADRINA</div>
                <div class="parraDona">Ayuda económicamente a que un perro o gato. Esto será ultizado para su comida y mantenimiento.</div>
                <a class="btn" href="huellitas">VER MASCOTAS</a>
            </div>
            @Html.Partial("_Contacto")
        </div>
    </section>
    <section class="conte_nosotros slide" data-slide="2" data-stellar-background-ratio="0.5">
        <div class="container clearfix">
            <h2>QUIENES SOMOS</h2>
            <h3 class="color3_text">ELLOS NECESITAN TU AMOR Y APOYO</h3>
            <p class="color1_text">Huellitas sin hogar es el esfuerzo de un grupo de amigos por ayudar a los miles de animales que se encuentran desprotegidos y en las calles colombianas. 
            Uno de los principales objetivos es por medio de la pagina promover la adopción y apadrinamiento de mascotas en las fundaciones que se dedican al cuidado de estos animales. 
            </p>
            <p class="color1_text">No contamos con sede física ya que solo somos un medio de conexión entre las personas que buscan una mascota y los hogares de paso. Además de esto no
            recibimos , ni pedimos ningún tipo de ayuda económica, ya que es ayudar a los animales lo que nos mueve.</p>
            <p class="color1_text">
                Está es la primera versión de la pagina y esperamos poder seguir evolucionando para mejorar en algo esta problematica tan grande de nuestro pais. 
            </p>
            <p class="color1_text">
                Por último, el equipo de huellitas sin hogar el cual ha donado su tiempo y conocimiento para la realización de este proyecto es el siguiente:
            </p>
            @*<div class="conte_vision grid_6">
                <span class="icon-alert"></span>
                <div class="caja_vision">
                    <h4>MISIÓN</h4>
                    <p class="color1_text">Somos una Institución de Educación Superior de propiedad social, formamos personas competentes para responder a las dinámicas del mundo, contribuimos a la construcción y difusión del conocimiento, apoyamos el desarrollo competitivo del país a través de sus organizaciones y buscamos el mejoramiento de la calidad de vida de las comunidades, influidos por la economía solidaria que nos dio origen.</p>
                </div>
            </div>
            <div class="conte_vision grid_6 omega">
                <span class="icon-alert"></span>
                <div class="caja_vision">
                    <h4>VISIÓN</h4>
                    <p class="color1_text">Somos una Institución de Educación Superior de propiedad social, formamos personas competentes para responder a las dinámicas del mundo, contribuimos a la construcción y difusión del conocimiento, apoyamos el desarrollo competitivo del país a través de sus organizaciones y buscamos el mejoramiento de la calidad de vida de las comunidades, influidos por la economía solidaria que nos dio origen.</p>
                </div>
            </div>*@
            <br/>
            <h3 class="color3_text">NUESTRO EQUIPO</h3>
            <div class="integrantes grid_12">
                <div class="caja_integra grid_6">
                    <div class="img" style="background-image:url(/images/img_beto.jpg);">
                        <a href="https://www.linkedin.com/profile/view?id=108035350" target="_blank">
                            <img style="visibility: hidden;" src="/images/img_beto.jpg" title="Gabriel Castillo - Ingeniero Programador" alt="Gabriel Castillo - Ingeniero Programador" />
                        </a>
                    </div>
                    <div class="descri_integra">
                        <h3><a href="https://www.linkedin.com/profile/view?id=108035350" target="_blank" >GABRIEL CASTILLO - INGENIERO PROGRAMADOR</a></h3>
                        <p>Unicamente quiero ayudar a los animales</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img" style="background-image:url(/images/img_julian.jpg);">
                            <img style="visibility: hidden;" src="/images/img_julian.jpg" title="Julian Castillo - Diseñador" alt="Julian Castillo - Diseñador" />
                    </div>
                    <div class="descri_integra">
                        <h3>JULIAN CASTILLO - DISEÑADOR WEB</h3>
                        <p>Solo busco aportar para que se vea con otra cara la desprotección animal</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6">
                    <div class="img" style="background-image:url(/images/img_erica.jpg);">
                        <a href="https://twitter.com/btoasaber" target="_blank">
                            <img style="visibility: hidden;" src="/images/img_erica.jpg" title="Erica Prado - Ingeniero Programador" alt="Erica Prado - Ingeniero Programador" />
                        </a>
                    </div>
                    <div class="descri_integra">
                        <h3>ERICA PRADO - INGENIERA PROGRAMADORA</h3>
                        <p>La cultura de un pueblo se mide por la forma en la que trata a sus animales (Gandhi)</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img" style="background-image:url(/images/img_marce.jpg);">
                            <img style="visibility: hidden;" src="/images/img_marce.jpg" title="Marcela Rodriguez - Diseñadora" alt="Marcela Rodriguez - Diseñadora" />
                    </div>
                    <div class="descri_integra">
                        <h3>MARCELA - DISEÑADORA WEB</h3>
                        <p>Todos podemos ayudar a cambiar la vida de un animalito. Si no puedes adoptar, apadrina, ayuda o comparte.</p>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/backbonevalidation")
    @Scripts.Render("~/bundles/backbone_home")
}
