@model LoginCol.Huellitas.Web.Models.VistaContenidoRelacionadoModel
@{
                int contador = 0;
}
<section class="slide conte_similar">
    <h2 class="container clearfix">@Model.Titulo</h2>
    <div id="cbp-fwslider" class="cbp-fwslider clearfix">
        <ul>

            @foreach (var contenido in Model.Contenidos)
            {
                if (contador == 0)
                {
                    @:<li>
                        @:<div class="container clearfix">
                }
                            
                
                            <div class="grid_3 @(contador > 0 && contador%3 == 0 ? " omega" :string.Empty)">
                                <div style="background-image: url(/img/@contenido.ContenidoHijo.ContenidoId/medium);" class="cajaSimilar">
                                    <article class="c_tipo1">
                                        <h3> <a href="/sinhogar/@contenido.ContenidoHijo.ContenidoId/@contenido.ContenidoHijo.NombreLink" title="@contenido.ContenidoHijo.DescripcionCorta">@contenido.ContenidoHijo.Nombre</a></h3>
                                        <div style="display:none">@contenido.ContenidoHijo.Descripcion</div>
                                    </article>
                                </div>
                            </div>
                
                            if(contador == 3)
                {
                    contador = 0;
                    @:</div>
                @:</li>
                }
                else
                {
                    contador++;
                }


                            }

                        </ul>
                    </div>


                    @if(Model.VerTodos)
                {
                        <div class="mas_scroll">

                            @if(!string.IsNullOrEmpty(Model.LinkVerTodos) ){
                                <a href="@Model.LinkVerTodos">
                                    Ver todos
                                </a>
                        }  
                        </div>
                }


                </section>
