@model LoginCol.Huellitas.Web.Models.BaseModel
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <meta name="description" content="@ViewBag.TagDescripcion">
    
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content="@Model.Titulo" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="@ViewBag.TagDescripcion" />
    <meta property="og:image" content="@(string.IsNullOrEmpty(Model.ImagenCompartir) ? "http://huellitas.social/images/logo.png" : "http://huellitas.social"+Model.ImagenCompartir)" />


    @*<meta property="og:title" content="@Model.Titulo" />
    <meta property="og:image" content="@(string.IsNullOrEmpty(Model.ImagenCompartir) ? "http://huellitas.social/images/logo.png" : Model.ImagenCompartir)" />*@


    <link rel="image_src" href="@(string.IsNullOrEmpty(Model.ImagenCompartir) ? "http://huellitas.social/images/logo.png" : Model.ImagenCompartir)" />
    
    @RenderSection("metatags", required:false)
    <title>@Model.Titulo</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    
    <style>
        .invalid {
            border: solid 1px red;
        }
    </style>
    @Styles.Render("~/bundles/cssfrontend")

    @RenderSection("css", required:false)

    
    <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    
    
</head>

<body>
    <div class="beta"></div>
    <div id="outer-wrap">
        <div id="inner-wrap">
            <!--menu-->
            <header id="top" role="banner">
                <div class="block"> <a class="nav-btn" id="nav-open-btn" href="#nav"><span class="icon-menu"></span></a> </div>
                <div class="container">
                    <h1 id="logo">
                        <span>Huellitas sin hogar</span>
                        <a href="~/"><img src="~/images/logo.svg" alt="Huellitas sin Hogar" title="Huellitas sin hogar - Ayuda a adoptar mascotas" /></a>
                    </h1>
                </div>
            </header>
            <nav id="nav" role="navigation">
                <div class="block"> 
                    <ul class="navigation">
                        <li class="is-active"> <a href="/">Inicio</a> </li>
                        <li> <a href="/sinhogar">Mascotas sin hogar</a> </li>
                        <li> <a href="/fundaciones">Fundaciones</a> </li>
                        <li> <a href="/perros-gatos-perdidos">Perdidos</a> </li>
                        <li> <a href="/por-que-adoptar">¿Quieres Adoptar?</a> </li>
                        @if (ViewContext.RouteData.Values["controller"].Equals("Home") && ViewContext.RouteData.Values["action"].Equals("Index"))
                        { 
                            <li data-slide="2"> <a href="javascript:;"> Quienes somos</a> </li>
                        }
                       
                    </ul>
                    <br />
                    @*<div class="menuLogin">
                        <a href="javascript:;" class="btn_login">INICIAR SESIÓN</a> <a href="javascript:;" class="btn_sesion">REGISTRARME</a>
                        <div class="btn_search"> <span class="icon-menu"></span> </div>
                    </div>*@
                    <a class="close-btn" id="nav-close-btn" href="javascript:;top"><span class="icon-menu"></span></a>
                </div>
            </nav>
            <!--menu-->
            
                <div id="divMainContent">
                    @RenderBody()
                </div>
            
            <footer>
                <div class="redes">
                    <a href="https://www.facebook.com/pages/Huellitas-sin-hogar/728532287235658" class="fb icon-face" target="_blank" title="Facebook de Huellitas sin hogar"></a>
                    <a href="https://www.youtube.com/channel/UCQdis_wkgbgreU9alDpwzNw" class="youtube icon-youtube" title="Canal de Youtube huellitas sin hogar" target="_blank"></a>
                    <a href="https://twitter.com/hsinhogar" class="twt icon-twt" title="Twitter de huellitas sin hogar" target="_blank"></a>
                    <a href="https://instagram.com/huellitasinhogar/" class="instagram icon-insta" target="_blank"></a>
                    <br />
                </div>
            </footer>
        </div>
        <!--/#inner-wrap-->
    </div>
    

    @if (LoginCol.Huellitas.Negocio.ParametrizacionNegocio.ValidarAnalytics)
    { 
        <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57748420-1', 'auto');
        ga('send', 'pageview');

    </script>
        

    }
    




    @*<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '728532287235658',
                xfbml: true,
                version: 'v2.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-like"
         data-share="true"
         data-width="450"
         data-show-faces="true">
    </div>*@

    
    

    <script src="~/Generales/ConstantesJs"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/backbone")
    @Scripts.Render("~/bundles/menuEfecto")
    @Scripts.Render("~/bundles/backbone_router")


    @RenderSection("scripts", required: false)

    
</body>
</html>