@model LoginCol.Huellitas.Web.Models.PerdidosModel
@{
    //ViewBag.TagDescripcion =  "Huellitas sin hogar tiene una plataforma para tí en la cual podrás ingresar los datos de mascotas perdidas al rededor del pais. También si estas buscando tu perro o gato perdido, lo podrás encontrar acá.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.ContenidoId > 0)
    {
        Model.ImagenCompartir = string.Format("/img/{0}/big", Model.ContenidoId);
    }

}

<section id="first" class="seBusca slide">
    <div class="container clearfix">
        <h2>MASCOTAS PERDIDAS</h2>
        <h3>ELLOS NECESITAN TU AMOR Y APOYO</h3>

    </div>
</section>
<!--se busca-->
<div id="divPerdidosGeneral">
    <section class="conteBusca slide">
        <div class="container clearfix conteConta">
            <h3>¿BUSCAS O ENCONTRASTÉ UNA MASCOTA PERDIDA?</h3>
            <p>
                Este espacio está enfocado a todas las personas que necesiten encontrar su mascota

                extraviada y a aquellos que hayan encontrado una mascota perdida. El objetivo es agilizar

                el proceso de búsqueda a través del trabajo en red lo que muchas veces logra un final

                feliz. Registra los datos solicitados según el caso para que Huellitas sin Hogar publique la

                información. <br />
            </p>
            <nav class="nav_busca">
                <li class="sel grid_3 addform" id="btnBusco" title="Si tu mascota se perdió, dejanos tus datos y nos comunicaremos contigo">
                    <span class="icon-casa"></span>
                    BUSCO MI MASCOTA
                </li>
                <li class="sel grid_3 addform" id="btnEncuentro" title="Si encontraste una huellita y no sabes de quién es, deja sus datos y apenas sepamos algo nos comunicaremos contigo">
                    <span class="icon-perdida"></span>
                    ENCONTRE UNA MASCOTA
                </li>
                <li class="sel grid_3 reportadas" id="btnReportadas" title="Busca las huellitas que han encontrado otros, depronto la tuya está entre ellas">
                    <span class="icon-galeria"></span>
                    Mascotas reportadas
                </li>

                <form id="formRegistrar" class="grid_9 omega" style="display: none" action="/home/perdidos" method="post" enctype="multipart/form-data">
                    <p>


                        Es importante recordar el cuidado que debemos tener con nuestras mascotas para evitar

                        que este tipo de situaciones se presenten. Medidas fundamentales como no dejarlos

                        sueltos y solos en la calle, colocar collar y placa marcada con los datos del dueño,

                        implantar  chips de identificación, verificar que la puerta de la casa no quede abierta, etc.,

                        contribuirán a que hayan menos animalitos extraviados.

                    </p>
                    <div id="camposFormulario">
                        <div class="conte_check grid_4">
                            <div class="tipoMasco">
                                <input class="check rbTipo" type="radio" name="rbTipo" value="@Convert.ToInt32(LoginCol.Huellitas.Entidades.TipoContenidoEnum.Perro)">
                                <span class="icon-perro"></span>
                            </div>
                            <div class="tipoMasco">
                                <input class="check rbTipo" type="radio" name="rbTipo" value="@Convert.ToInt32(LoginCol.Huellitas.Entidades.TipoContenidoEnum.Gato)">
                                <span class="icon-gato"></span>
                            </div>

                        </div>
                        <div class="grid_4">
                            @Html.TextBoxFor(m => m.Nombre, new { placeholder = "NOMBRE DEL ANIMAL" })
                        </div>

                        @Html.DropDownListCampoFor("Genero", primeraOpcion: "GENERO DEL ANIMAL", estilo: "grid_4 omega")
                        <select id="ddlZonaDepartamento" class="grid_4">
                            <option>DEPARTAMENTO</option>
                        </select>
                        <select id="ddlZonaCiudad" class="grid_4">
                            <option>CIUDAD</option>
                        </select>


                        @Html.DropDownListFor(m => m.ZonaGeograficaId, new SelectList((new string[] { "BARRIO" }).ToList()), new { @class = "grid_4 omega", placeholder = "BARRIO", id = "ddlZonaBarrio" })

                        <div class="grid_4">
                            @Html.TextBoxFor(m => m.Edad, new { placeholder = "EDAD DEL ANIMAL", valjs = "numero" })
                        </div>

                        @Html.DropDownListCampoFor("Color", primeraOpcion: "COLOR", estilo: "grid_4")

                        <select id="ddlRaza" class="grid_4 omega" style="display:none" placeholder="RAZA"></select>

                        <div class="grid_4">
                            @Html.TextBoxFor(m => m.ContactoNombre, new { placeholder = "NOMBRE DE CONTACTO" })
                        </div>
                        <div class="grid_4 ">
                            @Html.TextBoxFor(m => m.ContactoTelefono, new { placeholder = "TELEFONO DE CONTACTO" })
                        </div>
                        <div class="grid_4 omega">
                            @Html.TextBoxFor(m => m.ContactoCorreo, new { placeholder = "CORREO DE CONTACTO" })
                        </div>

                        <div class="grid_4" id="divArchivoPerdido"></div>

                        <div class="grid_4" id="divArchivoPerdido2"></div>
                        
                        <br />
                        <div class="grid_12 omega">
                            @Html.TextAreaFor(m => m.Descripcion, new { placeholder = "BREVE DESCRIPCIÓN" })
                        </div>

                        <input type="hidden" id="Imagen" />
                        <a href="javascript:void(0);" class="btn color3" id="btnGuardar">GUARDAR</a>
                        <a href="javascript:void(0);" class="volver btn color3" id="btnVolverFormulario">VOLVER</a>
                    </div>

                    <div id="divMensajeConfirmacion" style="display:none">
                        <h2 id="msjBusco" style="display:none">Muchas gracias por dejar tus datos, esperamos tu mascota aparezca lo más pronto posible, de ser así nos comunicaremos inmediatamente contigo.</h2>
                        <h2 id="msjEncuentro" style="display:none">Muchas gracias por dejar tus datos, que la familia de esta huellita lo encuentre lo más pronto posible. Si sabemos algo te estaremos contactando para informarte lo que sucede.</h2>

                        <a href="javascript:void(0);" class="volver btn color3">VOLVER</a>
                    </div>

                </form>


                <form id="formFiltro" class="grid_9 omega" style="display: none">
                    <div id="camposFormulario">
                        <div class="conte_check grid_4">
                            <div class="tipoMasco">
                                <input class="check rbTipo" type="radio" name="rbTipo" value="@Convert.ToInt32(LoginCol.Huellitas.Entidades.TipoContenidoEnum.Perro)">
                                <span class="icon-perro"></span>
                            </div>
                            <div class="tipoMasco">
                                <input class="check rbTipo" type="radio" name="rbTipo" value="@Convert.ToInt32(LoginCol.Huellitas.Entidades.TipoContenidoEnum.Gato)">
                                <span class="icon-gato"></span>
                            </div>

                        </div>
                        <div class="grid_4">
                            @Html.TextBoxFor(m => m.Nombre, new { placeholder = "NOMBRE DEL ANIMAL" })
                        </div>

                        @Html.DropDownListCampoFor("Genero", primeraOpcion: "GENERO DEL ANIMAL", estilo: "grid_4 omega")
                        <select id="ddlZonaDepartamento" class="grid_4">
                            <option>DEPARTAMENTO</option>
                        </select>
                        <select id="ddlZonaCiudad" class="grid_4">
                            <option>CIUDAD</option>
                        </select>


                        @Html.DropDownListFor(m => m.ZonaGeograficaId, new SelectList((new string[] { "BARRIO" }).ToList()), new { @class = "grid_4 omega", placeholder = "BARRIO", id = "ddlZonaBarrio" })

                        @Html.DropDownListCampoFor("Color", primeraOpcion: "COLOR", estilo: "grid_4")

                        <select id="ddlRaza" class="grid_4" style="display:none" placeholder="RAZA"></select>

                        <div class="grid_4 omega">
                            @Html.TextBox("FechaRegistro", "", new { placeholder = "PERDIDO DESDE" })
                        </div>
                        <br />
                        <a href="javascript:void(0);" class="btn color3" id="btnFiltrar">FILTRAR</a>
                        <a href="javascript:void(0);" class="volver btn color3">VOLVER</a>
                    </div>
                </form>
                <br />
            </nav>
        </div>
    </section>

    <div id="divVistaListado" style="display:none">
        @Html.Partial("~/Views/Home/_ListadoPerdidos.cshtml")
    </div>


</div>

@Html.Partial("_FileUpload")
@Html.Partial("_Summary")

@section css {
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/cssjqueryui")

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/backbonevalidation")
    @Scripts.Render("~/bundles/backbone_perdidos")
    @Scripts.Render("~/bundles/backbone_zonasGeograficas")
    @Scripts.Render("~/bundles/backbone_cargaArchivo")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/backbone_redesSociales")
    @Scripts.Render("~/bundles/backbone_imagenes")
}
