@model LoginCol.Huellitas.Web.Models.BaseModel
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <meta name="description" content="@ViewBag.TagDescripcion">
    <meta property="og:image" content="http://huellitas.social/images/logo.png" />
    <link rel="image_src" href="http://huellitas.social/images/logo.png" />
    
    @RenderSection("metatags", required:false)
    <title>@Model.Titulo</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    
    <style>
        .invalid {
            border: solid 1px red;
        }
    </style>
    @Styles.Render("~/bundles/cssfrontend")

    @RenderSection("css", required:false)

    
    <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    
    
</head>

<body>
    <div class="beta"></div>
    <div id="outer-wrap">
        <div id="inner-wrap">
            <!--menu-->
            <header id="top" role="banner">
                <div class="block"> <a class="nav-btn" id="nav-open-btn" href="#nav"><span class="icon-menu"></span></a> </div>
                <div class="container">
                    <h1 id="logo">
                        <a href="~/"><img src="~/images/logo.svg" alt="Huellitas sin Hogar" title="Huellitas sin hogar - Ayuda a adoptar mascotas" /></a>
                    </h1>
                </div>
            </header>
            <nav id="nav" role="navigation">
                <div class="block">
                    <ul class="navigation">
                        <li class="is-active"> <a href="/">Inicio</a> </li>
                        <li> <a href="/sinhogar">Casos sin amor</a> </li>
                        <li> <a href="/fundaciones">Fundaciones</a> </li>
                        @*<li> <a href="/home/perdidos">Perdidos</a> </li>*@
                        <li> <a href="/por-que-adoptar">¿Quieres Adoptar?</a> </li>
                        @if (ViewContext.RouteData.Values["controller"].Equals("Home") && ViewContext.RouteData.Values["action"].Equals("Index"))
                        { 
                            <li data-slide="2"> <a href="javascript:;"> Quienes somos</a> </li>
                        }
                       
                    </ul>
                    <br />
                    @*<div class="menuLogin">
                        <a href="javascript:;" class="btn_login">INICIAR SESIÓN</a> <a href="javascript:;" class="btn_sesion">REGISTRARME</a>
                        <div class="btn_search"> <span class="icon-menu"></span> </div>
                    </div>*@
                    <a class="close-btn" id="nav-close-btn" href="javascript:;top"><span class="icon-menu"></span></a>
                </div>
            </nav>
            <!--menu-->
            
                <div id="divMainContent">
                    @RenderBody()
                </div>
            
            <footer>
                <div class="redes">
                    <a href="https://www.facebook.com/pages/Huellitas-sin-hogar/728532287235658" class="fb icon-face" target="_blank" title="Facebook de Huellitas sin hogar"></a>
                    <a href="https://www.youtube.com/channel/UCQdis_wkgbgreU9alDpwzNw" class="youtube icon-youtube" title="Canal de Youtube huellitas sin hogar" target="_blank"></a>
                    <a href="https://twitter.com/hsinhogar" class="twt icon-twt" title="Twitter de huellitas sin hogar" target="_blank"></a>
                    <a href="javascript:;" class="instagram icon-insta"></a>
                    <br />
                </div>
            </footer>
        </div>
        <!--/#inner-wrap-->
    </div>
    @*
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36251023-1']);
            _gaq.push(['_setDomainName', 'jqueryscript.net']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>*@
    

    <script src="~/Generales/ConstantesJs"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/backbone")
    @Scripts.Render("~/bundles/menuEfecto")
    @Scripts.Render("~/bundles/backbone_router")


    @RenderSection("scripts", required: false)

    
</body>
</html>