@model LoginCol.Huellitas.Web.Models.DetalleFundacionModel
@{
    ViewBag.Title = string.Format("{0} - Fundaciones", Model.Nombre);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divDetalleContenido">
    @Html.Hidden("Latitud", @Html.ObtenerCampoDeContenido(Model, "Latitud"))
    @Html.Hidden("Longitud", @Html.ObtenerCampoDeContenido(Model, "Longitud"))
    @Html.HiddenFor(m => m.UrlVideo)
    <section id="first" class="conte_perfil2 slide">
        <div class="container clearfix">

            <div id="divImagenesContenido"></div>
            @Html.Partial("~/Views/Shared/_ImagenesContenido.cshtml")

            <div class="descriPerfil grid_6 omega">
                <div class="descri_mascota">
                    <h2>@Model.Nombre.ToString().ToUpper()</h2>
                    <div>CIUDAD: @Model.ZonaGeograficaNombre</div>
                    <div>DIRECCIÓN: @Html.ObtenerCampoDeContenido(Model, "Direccion")</div>
                    <div>ENCARGADO: @Html.ObtenerCampoDeContenido(Model, "Encargado")</div>
                    <div>CORREO: @Model.CorreoElectronico</div>
                    <div>CEL: @Html.ObtenerCampoDeContenido(Model, "Celular")</div>
                    <div>TEL: @Html.ObtenerCampoDeContenido(Model, "Telefono")</div>
                </div>
                <div class="compartir">
                    <span>COMPARTE EN:</span>
                    <b id="divFacebook"></b>
                    <b id="divTwitter"></b>
                    @Html.Partial("~/Views/Shared/_CompartirRedesSociales.cshtml")
                </div>
                <div class="conte_visitas" style="top:185px;">
                    <span class="icon-calendar"></span>@Model.Visitas
                    <span class="icon-calendar"></span><div id="contarComentarios" style="display:inline-block">@Model.Comentarios</div>
                </div>
                <a class="btn" href="javascript:;" style=" width:160px; margin:11px 0;">PROGRAMAR VISITA</a>
                <div class="mapa" id="mapaContenido"></div>
            </div>
            <div class="historia grid_12">
                <h2>HISTORIA Y CREACIÓN</h2>
                <div class="parrafo">
                <p>
                    @Model.Descripcion
                </p>
                </div>
            </div>

            @*<div class="integrantes grid_12">
                <h2>PERSONAL</h2>
                <div class="caja_integra grid_6">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br />
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br />
                </div>
                <div class="caja_integra grid_6">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br />
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br />
                </div>
            </div>

        </div>*@


    </section>

    <div id="divPerrosRelacionados"></div>
    @Html.Partial("~/Views/Shared/_ContenidosRelacionados.cshtml")

    <div id="divComentarios"></div>
    @Html.Partial("~/Views/Shared/_Comentarios.cshtml")




    


</div>

@section scripts
{
    @Scripts.Render("~/bundles/slide")
    @Scripts.Render("~/bundles/scroll")
    @Scripts.Render("~/bundles/backbonevalidation")

    <script src="~/Scripts/views/huellitas.DetalleFundacionView.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=@Html.Parametrizacion("MapsApiKey")&sensor=true"></script>
    <script src="~/Scripts/views/huellitas.MapaView.js"></script>
}