@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TagDescripcion = "Muchas fundaciones y hogares de paso están trabajando hoy en día para que los animales que ves en la calle tengan un futuro digno. Se parte de esto y adopta o apadrina un perro o gato.";
}
@section metatags
{
    <meta name="fragment" content="!" />
}


<div id="divListarFundaciones">
    <section id="first" class="conteFormCaso slide">
        <div class="container clearfix">
            <h2>FUNDACIONES</h2>
            <h3>BUSCA LAS FUNDACIONES</h3>
            <form id="formBusqueda">
                @*@Html.DropDownList("ddlZonaGeograficaPadre", new SelectList(Model.ZonasPadre, "ZonaGeograficaId", "Nombre"), "DEPARTAMENTO", new { @class = "grid_3" })*@
                <select class="grid_3" id="ddlZonaDepartamento">
                    <option>DEPARTAMENTO</option>
                </select>
                <select class="grid_3" id="ddlZonaCiudad">
                    <option>CIUDAD</option>
                </select>
                <div class="btn" id="btnBuscar">BUSCAR</div>
            </form>
        </div>

        
    </section>
    @Html.Partial("~/Views/Fundaciones/_ResultadosBusqueda.cshtml")
</div>


@section scripts
{
    @Scripts.Render("~/bundles/scroll")
    @Scripts.Render("~/bundles/backbone_contenido")
    @Scripts.Render("~/bundles/backbone_zonasGeograficas")
    @Scripts.Render("~/bundles/backbone_lfundaciones")

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=@Html.Parametrizacion("MapsApiKey")&sensor=true">
    </script>
}
