@model LoginCol.Huellitas.Web.Models.DetalleHuellitaModel
@{
    ViewBag.TagDescripcion = Model.DescripcionCorta;
    
}

<div id="divDetalleContenido">

    <section id="first" class="conte_perfil slide">
        <div class="container clearfix">
            @Html.HiddenFor(m => m.UrlVideo)
            <div id="divImagenesContenido"></div>
            @Html.Partial("_ImagenesContenido")

            @Html.HiddenFor(m => m.Nombre)
            <div class="descriPerfil grid_6 omega">
                <div class="descri_mascota">
                    <h2><span class="icon-perro"></span>@Html.DisplayFor(m => m.Nombre)</h2>
                    <div>TAMAÑO: @Html.ObtenerCampoDeContenido(Model, "Tamaño")</div>
                    <div>GENERO: @Html.ObtenerCampoDeContenido(Model, "Genero")</div>
                    <div>EDAD: @Html.ObtenerCampoDeContenido(Model, "Edad") AÑO(S)</div>
                    <div>COMPORTAMIENTO: @Html.ObtenerCampoDeContenido(Model, "Comportamiento")</div>
                    <div>RECOMENDADO PARA: @Html.ObtenerCampoDeContenido(Model, "RecomendadoPara")</div>
                    <div>ESTERILIZADO: @Html.ObtenerCampoDeContenido(Model, "Esterilizado")</div>
                    <div>LOCALIZACIÓN: @Model.ZonaGeograficaNombre</div>
                </div>
                <div class="compartir">
                    <span>COMPARTE EN:</span>
                    <div id="divFacebook"></div>
                    <div id="divTwitter"></div>
                    @Html.Partial("_CompartirRedesSociales")
                </div>
                <div class="conte_visitas">
                    <span class="icon-view"></span>@Model.Visitas
                    <span class="icon-comenta"></span>
                    <div id="contarComentarios" style="display: inline-block">@Model.Comentarios</div>
                </div>
                <div class="parrafo demo-y">
                    <p>@Html.DisplayFor(m => m.Descripcion)</p>
                </div>
                <a class="btn left" href="@(Model.NombreLink)/@LoginCol.Huellitas.Negocio.ParametrizacionNegocio.LlaveRouterQuieroAdoptar">ADOPTAME</a>
                @if (Model.AdoptantePadrino == null)
                {
                    <a class="btn left" id="btnApadrinar" href="javascript:;">APADRINAME</a>
                }
                
            </div>


            @if (Model.HogarDePaso != null)
            {
                <div class="grid_6 conte_datos">
                    <h2>HOGAR DE PASO: <a href="/fundaciones/@Model.HogarDePaso.ContenidoId/@Model.HogarDePaso.Nombre"><b>@Model.HogarDePaso.Nombre</b></a></h2>
                    <h3>CONTACTO: <span>@Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Encargado")</span></h3>
                    <ul>
                        <li>@Model.HogarDePaso.ZonaGeograficaNombre / @Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Direccion")</li>
                        <li>CORREO: @Model.HogarDePaso.CorreoElectronico</li>
                        <li>CEL: @Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Celular")</li>
                        <li>TEL:@Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Teléfono")</li>
                    </ul>
                </div>
            }

            @if (Model.AdoptantePadrino != null)
            { 
                 
                
                <div class="grid_6 conte_datos omega">
                    <h2>@(Model.TipoAdoptante ==  LoginCol.Huellitas.Entidades.TipoRelacionUsuariosEnum.Padrino ? "PADRINO" : "ADOPTANTE"): <b>@Model.AdoptantePadrino.NombreCompleto</b></h2>
                    <h3>DONACIÓN MENSUAL: <span>@Html.ObtenerCampoDeContenido(Model, "Donacion Mensual")</span></h3>
                    <ul>
                        <li>FECHA @(Model.TipoAdoptante == LoginCol.Huellitas.Entidades.TipoRelacionUsuariosEnum.Padrino ? "APADRINAMIENTO" : "DE ADOPCIÓN"): @Html.ObtenerCampoDeContenido(Model, "Fecha Adopcion")</li>
                    </ul>
                </div>
            }

            <div id="divApadrinar" style="display:none" >



                Apadrinar a <b>@Model.Nombre</b>  consiste en ofrecer un aporte voluntario que cubrirá los

                gastos necesarios para que tenga una buena calidad de vida hasta el momento

                en que sea adoptado(a). Como padrino de <b>@Model.Nombre</b> también puedes aportar

                visitándolo(a) y haciendo actividades con el (ella) lo cual contribuye a su

                socialización y facilita su futura adopción. <br /><br />

                Por ser de tamaño @Html.ObtenerCampoDeContenido(Model, "Tamaño") <b>@Model.Nombre</b> requiere de un valor de @Html.ObtenerCampoDeContenido(Model, "Donacion Mensual")  para su

                manutención mensual. Si quieres apadrinar a <b>@Model.Nombre</b> ingresa tus datos para

                contactarte. Como padrino recibirás información y fotos actualizadas de <b>@Model.Nombre</b>.<br />







                @*<iframe id="divPlayerVideo" width="491" height="333"
                        src="https://www.youtube.com/embed/u3dzUKzA20k" ></iframe>
                <div style="font-size:9px">* Video tomado de <a href="https://www.youtube.com/channel/UC2KjtHkcxugWx9f_Rs0-Beg" target="_blank">Refugio chiclayo</a> </div>*@
            </div>
        </div>
    </section>
    <!--similares-->
    <div id="divPerrosRelacionados"></div>
    @Html.Partial("_ContenidosRelacionados")
    <!--fin similares-->
    <!--comentarios-->
    <div id="divComentarios"></div>
    @Html.Partial("_Comentarios")
    <!--fin comentarios-->
</div>

@section scripts{
    @Scripts.Render("~/bundles/backbone_detalleHuellita")
    @Scripts.Render("~/bundles/backbone_contenidodetalle")    
    
}
@section css{
        @Styles.Render("~/bundles/cssjqueryui")

}