@model LoginCol.Huellitas.Web.Models.DetalleHuellitaModel
@{
    ViewBag.Title = "Detalle";
}






<div id="divDetalleContenido">







    <section id="first" class="conte_perfil slide">
        <div class="container clearfix">
            @Html.HiddenFor(m => m.UrlVideo)
            <div id="divImagenesContenido"></div>
            @Html.Partial("~/Views/Shared/_ImagenesContenido.cshtml")


            <div class="descriPerfil grid_6 omega">
                <div class="descri_mascota">
                    <h2><span class="icon-alert"></span>@Html.DisplayFor(m => m.Nombre)</h2>
                    <div>TAMAÑO: @Html.ObtenerCampoDeContenido(Model, "Tamaño")</div>
                    <div>GENERO: @Html.ObtenerCampoDeContenido(Model, "Genero")</div>
                    <div>EDAD: @Html.ObtenerCampoDeContenido(Model, "Edad") AÑO(S)</div>
                    <div>COMPORTAMIENTO: @Html.ObtenerCampoDeContenido(Model, "Comportamiento")</div>
                    <div>RECOMENDADO PARA: @Html.ObtenerCampoDeContenido(Model, "RecomendadoPara")</div>
                    <div>LOCALIZACIÓN: @Model.ZonaGeograficaNombre</div>
                </div>
                <div class="compartir">
                    <span>COMPARTE EN:</span>
                    <b id="divFacebook"></b>
                    <b id="divTwitter"></b>
                    @Html.Partial("~/Views/Shared/_CompartirRedesSociales.cshtml")
                </div>
                <div class="conte_visitas">
                    <span class="icon-calendar"></span>@Model.Visitas
                    <span class="icon-calendar"></span><div id="contarComentarios" style="display:inline-block">@Model.Comentarios</div>
                </div>
                <p class="parrafo">@Html.DisplayFor(m => m.Descripcion)</p>
                <a class="btn left" href="javascript:;">ADOPTAME</a>
                <a class="btn left" href="javascript:;">APADRINAME</a>
            </div>


            @if (Model.HogarDePaso != null)
            {
                <div class="grid_6 conte_datos">
                    <h2>HOGAR DE PASO: <a href="/fundaciones/@Model.HogarDePaso.ContenidoId/@Model.HogarDePaso.Nombre"><b>@Model.HogarDePaso.Nombre</b></a></h2>
                    <h3>CONTACTO: <span>@Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Encargado")</span></h3>
                    <ul>
                        <li>@Model.HogarDePaso.ZonaGeograficaNombre / @Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Direccion")</li>
                        <li>CORREO: @Model.HogarDePaso.CorreoElectronico</li>
                        <li>CEL: @Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Celular")</li>
                        <li>TEL:@Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Teléfono")</li>
                    </ul>
                </div>
            }



            @*<div class="grid_6 conte_datos omega">
                    <h2>PADRINO: <b>ERIKA PRADO</b></h2>
                    <h3>DONACIÓN MENSUAL: <span>$150.000</span></h3>
                    <ul>
                        <li>TIEMPO: 3 meses</li>
                        <li>CORREO: fundacion@host.com</li>
                        <li>CEL: 320 3546789</li>
                        <li>TEL:3669223</li>
                    </ul>
                </div>*@
        </div>
    </section>
        <!--similares-->
        <div id="divPerrosRelacionados"></div>
        @Html.Partial("~/Views/Shared/_ContenidosRelacionados.cshtml")
        <!--fin similares-->
        <!--comentarios-->
        <div id="divComentarios"></div>
        @Html.Partial("~/Views/Shared/_Comentarios.cshtml")
        <!--fin comentarios-->


</div>

@section scripts{
    <script src="~/Scripts/views/huellitas.DetalleHuellitaView.js"></script>
    @Scripts.Render("~/bundles/slide")
}