@model LoginCol.Huellitas.Web.Models.ListarHuellitasModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divListarHuellitas">
    <section id="first" class="conteFormCaso slide">
        <div class="container clearfix">
            <h2>ENCUENTRA TU HUELLITA</h2>
            <h3>SOLO BUSCA POR LAS CARACTERISTICAS DEL QUE QUISIERAS FUERA TU HUELLITA</h3>
            <form>
                @Html.DropDownList("ddlGenero", new SelectList(Model.Generos, "OpcionId", "Texto"), "GENERO", new { @class = "grid_3" })
                @Html.DropDownList("ddlColor", new SelectList(Model.Colores, "OpcionId", "Texto"), "COLOR", new { @class = "grid_3" })
                @Html.DropDownList("ddlTamano", new SelectList(Model.Tamanos, "OpcionId", "Texto"), "TAMAÑO", new { @class = "grid_3" })

                <select id="ddlEdad" class="grid_3 omega">
                    <option>EDAD</option>
                    <option value="1">De 0 a 1</option>
                    <option value="2">De 1 a 3</option>
                    <option value="3">De 3 a 5</option>
                    <option value="4">Más de 5 (Te lo agradecerá)</option>
                </select>
                <div class="grid_3">
                    <input class="checkbox" type="radio" name="rbTipo" value="@Convert.ToInt32(LoginCol.Huellitas.Entidades.TipoContenidoEnum.Perro)">
                    <span class="icon-alert"></span>
                    <input class="checkbox" type="radio" name="rbTipo" value="@Convert.ToInt32(LoginCol.Huellitas.Entidades.TipoContenidoEnum.Gato)">
                    <span class="icon-alert"></span>
                </div>
                @foreach (var opcion in Model.RecomendadoPara)
                {
                    <div class="grid_3">
                    <input class="check" type="checkbox" name="recomendadoPara" value="@opcion.OpcionId" />
                    <span>@opcion.Texto</span>
                </div>
                }
                <br />
                <div class="btn" id="btnBuscar" >BUSCAR</div>
            </form>
        </div>
    </section>
    @Html.Partial("~/Views/Huellitas/_ResultadosBusqueda.cshtml")
</div>
<script src="~/Scripts/models/huellitas.Contenido.js"></script>