@model LoginCol.Huellitas.Web.Models.FormularioAdopcionModel
@{
    ViewBag.Title = "QuieroAdoptar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divAdopcion">
    @using (Html.BeginForm())
    {
        <section class="slide conte_perfil" id="first" data-slide="1">
            <div class="container clearfix">
                <h2 style="margin-bottom: 20px;">PROCESO DE ADOPCIÓN</h2>
                <div class="grid_12">
                    A continuación encontrarás un formulario con el cual buscamos medir que tan apto eres para adoptar una mascota con nosotros. Este es el primer paso en el proceso de adopción, si lo pasas nos estaremos comunicando directamente contigo. *
                    <div style="font-size:9px">*El llenar el formulario o ser contactado no garantiza la adopción del animal</div>
                    
                </div>
                <div class="grid_4">
                    <div class="galeria_perfil">
                        <img src="/img/@Model.Contenido.ContenidoId/medium" alt="Adopta una mascota - @Model.Contenido.Nombre" title="Perros y gatos en adopción - @Model.Contenido.Nombre" />
                    </div>
                </div>
                <div class="descri_mascota grid_4">
                    <h2><span class="icon-alert"></span>@Model.Contenido.Nombre</h2>

                    <div>GENERO: MASCULINO</div>
                    <div>EDAD: @Html.ObtenerCampoDeContenido(Model.Contenido, "Edad") año(s)</div>
                    <div>COLOR: @Html.ObtenerCampoDeContenido(Model.Contenido, "Color")</div>
                    <div>LOCALIZACIÓN: @Model.Contenido.ZonaGeograficaNombre</div>
                </div>

                @if (Model.HogarDePaso != null)
                {
                    <div class="conte_datos grid_4">
                        <h2>HOGAR DE PASO: <b>@Model.HogarDePaso.Nombre</b></h2>
                        <h3>CONTACTO: <span>@Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Encargado")</span></h3>
                        <ul>
                            <li>DIRECCIÓN:@Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Direccion")</li>
                            <li>CORREO: @Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Correo")</li>
                            <li>CEL: 320 3546789</li>
                            <li>TEL:@Html.ObtenerCampoDeContenido(Model.HogarDePaso, "Teléfono")</li>
                        </ul>
                    </div>
                }
            </div>
        </section>

        if (Model.Id == 0)
        {
            <section class="form_adopta slide">
                <div class="container clearfix">
                    <ol class="conte_pasos">
                        <li class="active">Datos Personales</li>
                        <li>paso 2</li>
                        <li>paso 3</li>
                        <li>paso 4</li>
                        <br />
                    </ol>
                    <h2>DATOS PERSONALES</h2>
                    <div id="paso1">
                        <div class="grid_3">@Html.TextBoxFor(m => m.Usuario.Nombres, new { placeholder = "NOMBRES:" })</div>
                        @Html.DropDownListFor(m => m.Usuario.ZonaGeograficaId, new SelectList(new List<string>()), "DEPARTAMENTO:", new { @class = "grid_3 ", id = "ddlZonaDepartamento" })
                        <select id="ddlZonaCiudad" class="grid_3 ">
                            <option>CIUDAD</option>
                        </select>
                        <div class="grid_3 omega">@Html.TextBoxFor(m => m.Usuario.Direccion, new { placeholder = "DIRECCIÓN:" })</div>

                        <div class="grid_3">@Html.TextBoxFor(m => m.Usuario.Celular, new { placeholder = "CELULAR:" })</div>
                        <div class="grid_3">@Html.TextBoxFor(m => m.Usuario.Correo, new { placeholder = "CORREO ELECTRONICO:" })</div>

                        @Html.DropDownListFor(m => m.Usuario.OcupacionId, new SelectList(Model.ListaOcupaciones, "DatoTablaBasicaId", "Valor", Model.Usuario.OcupacionId), "OCUPACIÓN", new { @class = "grid_3 " })
                        @Html.DropDownListFor(m => m.Usuario.EstadoCivilId, new SelectList(Model.ListaEstadoCivil, "DatoTablaBasicaId", "Valor", Model.Usuario.EstadoCivilId), "ESTADO CIVIL", new { @class = "grid_3 omega" })

                        <div class="grid_3">@Html.TextBoxFor(m => m.MiembrosFamilia, new { placeholder = "MIEMBROS EN LA FAMILIA:" })</div>
                        <div class="grid_3 omega">@Html.TextBoxFor(m => m.Usuario.FechaNacimiento, new { placeholder = "FECHA NACIMIENTO:" })</div>
                        <br />


                    </div>
                    <div id="paso2" style="display: none" class="seccionPreguntas">
                        @PreguntaAdopcion(13, "Guardia y Protección", "Compañia", "Otro")
                        @PreguntaAdopcion(14, "Si", "No")
                        @PreguntaAdopcion(15, "Si", "No")
                        @PreguntaAdopcion(16, "Si", "No")
                        @PreguntaAdopcion(17, "Si", "No")
                    </div>

                    <div id="paso3" style="display: none" class="seccionPreguntas">
                        @PreguntaAdopcion(18, "Si", "No")
                        @PreguntaAdopcion(19, "Si", "No")
                        @PreguntaAdopcion(20, "Si", "No")
                        @PreguntaAdopcion(21, "Apartamento", "Casa Pequeña", "Casa grande")
                        @PreguntaAdopcion(22, "En la Ciudad", "Afueras de la ciudad", "En el campo")
                    </div>

                    <div id="paso4" style="display: none" class="seccionPreguntas">
                        @PreguntaAdopcion(23, "Nada", "30 minutos", "Una hora", "Más de una hora")
                        @PreguntaAdopcion(24, "Nunca", "2-4 horas", "4-7 horas", "Mas de 7 horas")
                        @PreguntaAdopcion(25, "No", "A veces", "Con frecuencia", "Siempre")
                        @PreguntaAdopcion(26, "No hay", "Más de 5 años", "De 6 a 11 años", "Mayor de 12 años")
                        @PreguntaAdopcion(27, "Quieto, callado", "Moderado", "Vivaz", "Mucha energia")
                        @PreguntaAdopcion(28, "Hasta $20.000 pesos", "Hasta $50.000 pesos", "Hasta $80.000 pesos", "Más de $100.000 pesos")
                    </div>




                    <a id="btnSiguiente" class="btn" href="javascript:;">Siguiente</a>
                </div>

            </section>
        }
        else
        {
            <section class="form_adopta slide">
                <div class="container clearfix">
                    <div class="seccionPreguntas">
                        <div class='grid_12'>
                            <h2>GRACIAS POR INICIAR EL PROCESO DE ADOPCIÓN DE <a href="sinhogar/@Model.Contenido.ContenidoId/@Model.Contenido.NombreLink">@Model.Contenido.Nombre</a>. Muy pronto nos comunicamremos contigo.</h2>
                        </div>
                    </div>
                </div>
            </section>
        }


    }

    <div id="divInfoAdopcion">
        Para llevar a cabo el proceso de adopción, debes seguir los siguientes pasos: <br /><br />

        1. Tomate unos minutos para leer la sección de Cosas a considerar antes de adoptar

        y confirma que verdaderamente estás en disposición y capacidad de tener una

        mascota.<br /><br />

        2. Considera si el animal que elegiste tiene las características físicas y de

        comportamiento que más se adapten a tu estilo de vida.<br /><br />

        3. Completa el formulario de adopción con los datos solicitados.<br /><br />

        4. Espera respuesta (llamada o correo electrónico) para concretar una visita

        domiciliaria por parte de los funcionarios de la fundación donde se encuentra tu

        nuevo amigo.<br /><br />

        5. Después de la visita se realiza un estudio de aprobación del caso.<br /><br />

        6. Tan pronto la adopción sea aprobada tu mascota llegará a casa el día que lo

        solicites.<br /><br />

        7. Posteriormente se realizarán visitas periódicas para verificar las condiciones y

        acoplamiento entre la mascota y su nueva familia.<br /><br />

        8. Cualquier duda que tengas durante el proceso puedes comunicarte con la

        fundación correspondiente.<br /><br />

        <a id="btnCerrarCondiciones" onclick='$("#divInfoAdopcion").dialog("close");' class="btn">Aceptar</a>
    </div>
</div>



@helper PreguntaAdopcion(int idPregunta, params string[] opciones)
{
    <div class='grid_12'>
        <br />
        @Model.Preguntas.FirstOrDefault(p => p.DatoTablaBasicaId == idPregunta).Valor


    </div>
    <div class="preguntasFormulario">
        @for (int i = 0; i < opciones.Length; i++)
        {
            var claseOmega = i % 3 == 0 ? "omega" : string.Empty;

            <div class='grid_3 @claseOmega'>
                <input type="radio" name="pregunta@(idPregunta)" value="@opciones[i]" />
                <span>@opciones[i]</span>
            </div>
        }
    </div>
}
@section css{
    @Styles.Render("~/bundles/cssjqueryui")
}
@section scripts
{
    @Scripts.Render("~/bundles/backbonevalidation")
    @Scripts.Render("~/bundles/backbone_zonasGeograficas")
    @Scripts.Render("~/bundles/backbone_adoptar")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}