@model LoginCol.Huellitas.Web.Models.DetalleFundacionModel
@{
    ViewBag.TagDescripcion = Model.DescripcionCorta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divDetalleContenido">
    @Html.Hidden("Latitud", @Html.ObtenerCampoDeContenido(Model, "Latitud"))
    @Html.Hidden("Longitud", @Html.ObtenerCampoDeContenido(Model, "Longitud"))
    @Html.HiddenFor(m => m.UrlVideo)
    <section id="first" class="conte_perfil2 slide">
        <div class="container clearfix">

            <div id="divImagenesContenido"></div>
            @Html.Partial("_ImagenesContenido")

            <div class="descriPerfil grid_6 omega">
                <div class="descri_mascota">
                    <h2>@Model.Nombre.ToString().ToUpper()</h2>
                    <div>CIUDAD: @Model.ZonaGeograficaNombre</div>
                    <div>DIRECCIÓN: @Html.ObtenerCampoDeContenido(Model, "Direccion")</div>
                    <div>ENCARGADO: @Html.ObtenerCampoDeContenido(Model, "Encargado")</div>
                    <div>CORREO: @Model.Email</div>
                    <div>CEL: @Html.ObtenerCampoDeContenido(Model, "Celular")</div>
                    <div>TEL: @Html.ObtenerCampoDeContenido(Model, "Teléfono")</div>
                </div>
                <div class="compartir">
                    <span>COMPARTE EN:</span>
                    <b id="divFacebook"></b>
                    <b id="divTwitter"></b>
                    @Html.Partial("_CompartirRedesSociales")
                </div>
                <div class="conte_visitas">
                    <span class="icon-view"></span>@Model.Visitas
                    <span class="icon-comenta"></span>
                    <div id="contarComentarios" style="display: inline-block">@Model.Comentarios</div>
                </div>
                @*<a class="btn" href="javascript:;" style=" width:160px; margin:11px 0;">PROGRAMAR VISITA</a>*@
                <div class="mapa" id="mapaContenido"></div>
            </div>
            <div class="historia grid_12">
                <h2>HISTORIA Y CREACIÓN</h2>
                <div class="parrafo">
                <p>
                    @Model.Descripcion
                </p>
                </div>
            </div>

            @*<div class="integrantes grid_12">
                <h2>PERSONAL</h2>
                <div class="caja_integra grid_6">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br />
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br />
                </div>
                <div class="caja_integra grid_6">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br />
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br />
                </div>
            </div>

        </div>*@


    </section>

    <div id="divPerrosRelacionados"></div>
    @Html.Partial("_ContenidosRelacionados")

    <div id="divComentarios"></div>
    @Html.Partial("_Comentarios")

</div>

@section scripts
{
    @Scripts.Render("~/bundles/backbonevalidation")
    @Scripts.Render("~/bundles/backbone_contenidodetalle")  
    @Scripts.Render("~/bundles/backbone_detalleFundacion")
      

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=@Html.Parametrizacion("MapsApiKey")&sensor=true"></script>
    @Scripts.Render("~/bundles/backbone_mapa")
    
}