@model LoginCol.Huellitas.Web.Models.ContenidoModel


<div id="divVistaEditarContenidos"></div>


@Html.Partial("~/Views/Administracion/Contenido/_CampoAdicional.cshtml")
@Html.Partial("~/Views/Administracion/Contenido/_ImagenesContenido.cshtml")
@Html.Partial("~/Views/Administracion/Contenido/_ContenidosRelacionados.cshtml")
@Html.Partial("~/Views/Administracion/Contenido/_UsuariosRelacionados.cshtml")

<script type="text/template" id="templateEditarContenidoBase">
    
        <div class="box col-md-4">
            <div class="box-inner">
                <div data-original-title="" class="box-header well">
                    <h2><i class="glyphicon glyphicon-edit"></i> <%= TituloFormulario %></h2>
                    <div class="box-icon">
                        <a class="btn btn-minimize btn-round btn-default" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form role="form">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre)
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DescripcionCorta)
                            @Html.TextAreaFor(model => model.DescripcionCorta, new { @class = "form-control", maxlength  = 120 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Descripcion)
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TipoContenidoId)
                            <div>
                                @Html.DropDownListFor(model => model.TipoContenidoId, new SelectList(Model.TiposDeContenido, "TipoContenidoId", "Nombre"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Departamento")
                            <div>
                                @Html.DropDownList("ZonaGeograficaZonaGeograficaPadreZonaGeograficaId", new SelectList(Model.Departamentos, "ZonaGeograficaId", "Nombre"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ZonaGeograficaId)
                            <div>
                                <select id="ZonaGeograficaId" name="ZonaGeograficaId" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Facebook)
                            @Html.TextBoxFor(model => model.Facebook, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Twitter)
                            @Html.TextBoxFor(model => model.Twitter, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UrlVideo)
                            @Html.TextBoxFor(model => model.UrlVideo, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Activo)
                            <input data-val="true" data-val-required="El campo Activo es obligatorio." id="Activo" name="Activo" type="checkbox" value="true" />
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Destacado)
                            <input data-val="true" data-val-required="El campo Activo es obligatorio." id="Destacado" name="Destacado" type="checkbox" value="true" />
                        </div>

                        
                        <button class="btn btn-default" type="button" id="GuardarContenido">Guardar</button>
                        <button class="btn" type="button" id="BtnCancelarEdicion">Cancelar</button>
                        @Html.ValidationSummary()
                    </form>
                </div>

            </div>
        </div>

        <div class="box col-md-4">
            <div class="box-inner">
                <div data-original-title="" class="box-header well">
                    <h2><i class="glyphicon glyphicon-edit"></i> Campos Adicionales</h2>
                    <div class="box-icon">
                        <a class="btn btn-minimize btn-round btn-default" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div id="divCamposAdicionales">
                    </div>
                    </div>
                </div>
            </div>


    <div class="box col-md-4">
        <div class="box-inner">
            <div data-original-title="" class="box-header well">
                <h2><i class="glyphicon glyphicon-edit"></i> Imagenes</h2>
                <div class="box-icon">
                    <a class="btn btn-minimize btn-round btn-default" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="form-group" id="divImagenPrincipal">
                    @Html.LabelFor(model => model.Imagen)
                    <div id="divArchivoContenidoCargado">
                    </div>
                    <input id="ArchivoId" type="hidden" />

                    <p class="help-block">Solo archivos .jpg</p>
                    <div id="imgPrincipalContenido"></div>
                </div>

                <div>
                    <div id="VerGaleriaContenido" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        Agregar Imagen
                    </div>
                </div>
            </div>
        </div>
    </div>
                    <!--/span-->
                

</script>



@Html.Partial("_FileUpload")